/* ===== Universal ===== */

body {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 0 7.5%;
    font-family: "Roboto Mono", monospace;
}

header .logo {
    flex-grow: 5;  /* Push nav to the right-hand side on larger devices */
    padding: 0.8em;
    font-size: 2em;
    font-weight: 300;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }

    header .logo {
        font-size: 1.4em;
    }
}

header nav {
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: 500;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav a {
    display: inline-block;
    margin: 0 0.4em;
    padding: 0.4em 0.6em;
    color: rgb(60, 0, 120);
    text-decoration: none;
}

header nav a:hover {
    color: rgb(90, 0, 180);
    text-decoration: underline;
    text-shadow: 2px 2px 8px rgb(240, 230, 255);
}

header nav a:active {
    color: rgb(140, 45, 255);
}


/* ===== Elements ===== */

h1,
h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}